/* lesson 12- challenge exercises */
body{
  font-family: roboto;
  padding-bottom:1000px ;
}
p{
  margin-top: 0;
  margin-bottom: 0;
}
/* 12e */
.content-12e{
  padding: 8px 15px;
  width: 500px;
  box-shadow: 0px 1px 5px grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.home-row,.notif-row, .mess-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-detail{
  font-size: 22px;
  font-weight: 500;
}
.number-button{
  background-color: blue;
  border: none;
  color: white;
  padding:  5px 15px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: bold;
}
/* 12g */
.content-12g{
  display: flex;
  flex-direction: column;
  margin-top:4em;
  border:none;
  box-shadow: 0px 1px 6px grey;
  padding: 20px;
  width: 500px;
  row-gap: 15px;
  margin-bottom: 4em;

}
.top-row, .middle-row, .bottom-row{
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.profile-pic{
  width:80px;
  height:80px;
  border-radius: 40px;
  object-fit: cover;
  object-position: top;
}
.details-info-12g{
  width:250px;
}
.name{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}
.label,.popular{
font-size: 16px;
color: grey;
line-height:22px;
}
.follow-button{
  background-color: rgba(0, 0, 255, 0.589);
  padding: 10px 25px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius:10px;
}
/* 12f */
.content-12f{
  background-color: blueviolet;
  padding: 15px 15px;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.parag-home{
font-size: 22px;
color: white;
font-weight: bold;
}
.search-bar{
  border-radius: 20px;
  border: none;
  padding: 10px 10px 10px 25px;
  box-shadow: 0px 1px 6px rgba(128, 128, 128, 0.842);
  outline: none;
  height: 20px;
}
.search-bar::placeholder{
  font-family: roboto;
  font-size: 18px;
}
.download-button{
  background-color: blueviolet;
  border: 2px solid white;
  color: white;
  font-size: 22px;
  padding:10px 20px;
}