/* 14f */
p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.image-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 10px;
  width: 80px;
  align-items: center;
  z-index:1;
}
.profile-pic{
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.479)
}
.text-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.555);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100px;
  width: 300px;
  z-index: 2;
  padding-left: 25px;
}
.info-parag{
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
}
.list-info{
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.flex-con{
  display: flex;
  column-gap: 25px;
}
.categories{
  font-size: 26px;
  color: rgb(235, 232, 232);
  margin-bottom: 20px;
}