/* lesson 8-challenge exercises */
p{
  font: 18px arial, sans-serif; 
}
/* 8d */
.fname-textbox, .lname-textbox{
  border: 1px solid rgba(128, 128, 128, 0.500);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
}
/* .label-fname, .label-lname{
  display:inline-block;
} */
.email-textbox{
  border: 1px solid rgba(128, 128, 128, 0.500);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit-button{
  
  
  background-color: rgba(0, 0, 255, 0.800);
  border: none;
  border-radius: 10px;
  color:white;
  font-size:24px;
  padding: 10px 97px;
}

/* 8e */
.title-form-8e{
  font-family: arial;
  font-size:32px ;
  color: black;
  font-weight: normal;
}
.pickup-location, .destination-location{
  border: none;
  background-color: rgba(128, 128, 128, 0.199);
  font-size: 18px;
  font-weight: normal;
  display: block;
  margin-top:10px;
  padding:10px;
}
.CTA-request-button{
  color: white;
  background-color: black;
  font-size: 18px;
  margin-top: 30px;
  margin-right: 20px;
  padding: 15px 20px;
  border: none;
}
.CTA-schedule-button{
  color: black;
  background-color:rgba(128, 128, 128, 0.308);;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 20px;
  border: none;
}